table thead tr {
    border-bottom: 2px solid #17479A;
}
table tr {
    border-bottom: 1px solid #EBEBEB;
}
table tr th{
    border-bottom: 2px solid #17479A;
}

table.dataTable tbody tr {
    background: none;
}

table{
    background: none;
}
.content h3{
    color: #002042;
}

.vertical-table th{
    color: #17479A;
}
button {
    color: #ffffff;
    border-radius: 3px;
    background: linear-gradient(160deg, #17479A 4%, #002042);
    border: none;
}

button.close {
    background: none;
    border: none;
}

button:hover, button:focus {
    color: #002042;
    background:#EBEBEB;
    box-shadow: none;
}

tr td button{
    padding: 0.5rem 1rem 0.53125rem 1rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 15px;
}

.form button:hover, .form button:focus {
    color: #002042;
    background:#EBEBEB;
    box-shadow: none;
}

ul.pagination li.active a {
    background-color: #002042;
    color: #FFFFFF;
    font-weight: bold;
    cursor: default;
}

fieldset legend {
    border-bottom: 2px solid #002042;
    width: 100%;
    line-height: 2rem;
}

legend{
    color: #17479A;
}

table tr th, table tr td {
    color: #000000;
    font-size: 0.875rem;
    padding: 0;
}

table td{
    vertical-align : middle;
}

.images{
    height: 28px;
    width: 28px;
    margin-right:2vh;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.date select, .time select, .datetime select {
    padding-right: 50px;
}

a button{
    margin-right: 50px;
}


@media screen and (max-width: 768px) {
    .optionalField{
        display: none;
    }

    .small-12{
        padding: 0.5rem;
        padding-bottom: 99999px;
    }
}

.deniedTop{
    height:45px;
    width: 100%;
    background-color:#CF212A ;
    position: fixed;
    display:block;
    left:0;
    right:0;

}
.deniedBot{
    height:45px;
    width: 100%;
    background-color:#CF212A ;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    display:block;
}

.deniedText{
    font-size: 68px;
    color:#002042;
    text-align:center;
    margin-top:90px;
}

.deniedText button{
    margin-top:200px;
}

table td{
    word-break: break-word;
}

.container {
    max-width: 90%;
}
.content{
    display:inline-block;
}

body{
    margin-top: 7vh;
    height: 93vh;
    background-image: linear-gradient(to right,
    rgb(230,230,230),
    rgb(240,240,240),
    rgb(250,250,250),
    rgb(255,255,255),
    rgb(250,250,250),
    rgb(240,240,240),
    rgb(230,230,230)
    )
}

fieldset legend{
    background: none;
}

@media screen and (max-width: 768px) {
    .container {
        padding-right: 0;
        padding-left: 0;
    }

    body{
        margin-top: 10vh;
        height: 90vh;
    }
}

h3{
    display: inline-block;
}

button.add-btn{
    display: inline-block;
    float: right;
    margin: 0;
}

