/* Section de la barre bleue du header */
header {
    height: 7vh;
    line-height: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#logo {
    height: 28px;
    width: 28px;
}

#ligne1 {
    height: 35px;
    background-image: linear-gradient(110deg, #17479A 60%, #002042);
    padding-left: 2vh;
    padding-top: 0.5vh;
    text-align: left;
}


#bienvenue {
    padding-top: 1.3vh;
    padding-right: 2vh;
    float: right;
}

#user {
    height: 28px;
    width: 28px;
    color: #EBEBEB;
    float: right;
    margin-right: 2vh;
}

#logout {
    height: 28px;
    width: 28px;
    color: #EBEBEB;
    float: right;
    margin-right: 2vh;
}

#login {
    height: 28px;
    width: 28px;
    color: #EBEBEB;
    float: right;
    margin-right: 2vh;
}

/* Barre de navigation */

nav {
    display: flex;
    min-height: 35px;
    background-color: #EBEBEB;
    align-items: center;
    padding-left: 5px;
    justify-content: space-around;

}

.nav-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    z-index: 1;

}

.navbutton {
    list-style-type: none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 9px;
    padding-left: 9px;
    text-align: center;
    color: #002042;
    justify-content: space-around;
}

.navbutton:hover {
    background-image: linear-gradient(110deg, #17479A 60%, #002042);
    text-align: center;
    color: #EBEBEB;

}

#ligne1 a {
    color: inherit;
}

#ligne1 a:hover {
    color: inherit;
}

/* Partie pour la barre de navigation responsive */

.burger {
    display: none;
    cursor: pointer;
    padding-right:13px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #17479A;
    margin: 5px;

}

@media screen and (max-width: 1024px) {
    #bureau {
        display: none;
    }
}


@media screen and (max-width: 768px) {
    body{
        overflow-x:hidden;
    }
    nav{
        justify-content: right;
    }
    .nav-links {
        z-index: -100;
        opacity:0;
        position: fixed;
        right: -100px;
        height: 0;
    }

    .nav-active{
        z-index: 1;
        opacity:1;
        position: absolute;
        right: 0;
        height: auto;
        top: 7vh;
        display: flex;
        background-color: rgba(235, 235, 235, 0.8);
        flex-direction: column;
        align-items: center;
    }

    .nav-links li{
        padding-top:10px;
        padding-bottom:10px;
    }
    .burger{
        display: block;
        position:absolute;
        right:0;
    }

    #bienvenue{
        display: none
    }
}

@keyframes navLinkFade{
    from{
        opacity:0;
    }

    to{
        opacity:1;
    }
}
